<app-wrapper-grid>
  <div slot="main">
    <div class="mb-8">
      <div class="mx-4">
        <div >
          <a routerLink="/profile-edit" class="flex flex-row">
            <i class="pi pi-arrow-left align-items-center flex justify-content-center mr-4"></i>
            <h4 class="flex align-items-center justify-content-center">Zurück</h4>
          </a>
        </div>

        <div class="mb-30">
          <p-tabView>
            <p-tabPanel header="Follower">

            </p-tabPanel>
            <p-tabPanel header="Following">

            </p-tabPanel>
          </p-tabView>
        </div>

      </div>
    </div>
  </div>
</app-wrapper-grid>
