/* Polity Theme Variables */
$panelContentBg: #e7f0f5;
$home-background: $vertical-gradient;

/* Surface */
$surface: #FBFCFF;
$onSurface:#191C1E;

$surfaceVariant: #FBFCFE;
// $onSurfaceVariant: #FBFCFE;


/* Background */
$background:#F9FCFF;
