<p-sidebar
[(visible)]="showAddMenu"
[showCloseIcon]="true"
[fullScreen]="true"
(onHide)="this.showAddMenuChange.emit(false)"
>
<div  class="flex justify-content-evenly">
  <div class="flex align-items-center justify-content-center m-3">
    <div class="text-center min-width">
      <h1 class="mb-8">Action</h1>
      <p data-cy="group" class="hover-menu cursor-pointer" (click)="openAddGroupPanel()">Gruppe</p>
      <p-divider></p-divider>
      <p data-cy="amendment" class="hover-menu cursor-pointer">Antrag</p>
      <p-divider></p-divider>
      <p data-cy="event" class="hover-menu cursor-pointer" (click)="openAddEventPanel()">Veranstaltung</p>
    </div>
  </div>
</div>
</p-sidebar>

<app-create-group [showAddGroupDialog]="showCreateGroupMenu"></app-create-group>
<app-create-event [showAddEventDialog]="showCreateEventMenu"></app-create-event>
