@import '../../../sass/themes/material-polity-customized/abstracts/breakpoints';
.bottom-fixed {
  bottom: 4rem;
}

.top-fixed {
  left: 0rem;
  top: 0rem;
  padding-left: 2rem;
}

/* .search-results {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 600px!important;
  flex: none;
} */

.margin-mid {
  margin-top: 40vh;
}

@media only screen and (min-width: $largeBreakPoint) {
  .bottom-fixed {
    padding-left: 15rem!important;
    padding-right: 5rem!important;
    bottom: 0rem!important;
  }

  .top-fixed {
    padding-left: 16rem;
    padding-right: 16rem;
  }
}
