/* Colors */
$primaryColor:#006689 !default;
$primaryTextColor:#ffffff !default;
$accentColor:#934170 !default;
$accentTextColor:#ffffff !default;
$thirdColor: #96480C;
$thirdColorTextColor: #ffffff;

$primaryContainer:#BFE8FF;
$accentContainer:#FFD8EA;
$tertiaryContainer: #FFDBC6;

$horizontal-gradient:linear-gradient(90deg, rgba(191, 232, 255, 0.81) 0%, rgba(255, 174, 216, 0.81) 100%);
$vertical-gradient:linear-gradient(180deg, #FFD8EA 0%, #BFE8FF 100%);

$successColor:#689F38;
$errorColor:#B00020 !default;

$test: red;

$neutral-90:#E1E2E5;

/*Neutral variants */

/*

$neutral-0:#000000;
$neutral-10:#191C1E;
$neutral-20:#2E3133;
$neutral-30:#454749;
$neutral-40:#5C5F61;
$neutral-50:#757779;
$neutral-60:#8F9193;
$neutral-70:#A9ABAD;
$neutral-80:#C5C7C9;
$neutral-90:#E1E2E5;
$neutral-95:#F0F1F3;
$neutral-99:#F9FCFF;
$neutral-100:#FFFFFF;

$neutral-variant-0:#000000;
$neutral-variant-10:#151D21;
$neutral-variant-20:#2A3135;
$neutral-variant-30:#41484D;
$neutral-variant-40:#5b84a2;
$neutral-variant-50:#71787D;
$neutral-variant-60:#8B9298;
$neutral-variant-70:#A5ACB2;
$neutral-variant-80:#C0C7CD;
$neutral-variant-90:#DCE3E9;
$neutral-variant-95:#EBF2F8;
$neutral-variant-99:#F9FCFF;
$neutral-variant-100:#FFFFFF;

*/
