<p-toast styleClass="max-w-90" position="top-right"></p-toast>
<app-menu-bar-secondary-top
  [megaMenuItemSpecial]="menuItemsMegaSpecial"
  [megaMenuItemStandart]="menuItemsMegaStandart"
  [specialOrStandart]="groupUI.isAdmin">
</app-menu-bar-secondary-top>
<app-wrapper-grid>
  <div slot="main">
    <app-loading-spinner
    [error]="error"
    [loading]="loadingInitial"
    [errorMessage]="errorMessage"
    (retryAction)="loadInitialData()"
  >
  </app-loading-spinner>
    <div *ngIf="!loadingInitial && !loading && !error" class="mb-8" >
      <app-wiki-header
        *ngIf="group"
        [wikiHeader]="{
          title: group.name,
          subtitle: group.level,
          imgUrl: group.avatar_url
        }">
      </app-wiki-header>
      <div class="flex flex-column">
        <div *ngIf="groupUI" class="flex align-items-center justify-content-center">
          <button
          pButton
          type="button"
          label="{{groupUI.isFollowing ? 'Unfollow' : 'Follow'}}"
          (click)="followOrUnfollowGroup()"
          data-cy="followButton"
        >
        </button>
        <app-request-membership
          *ngIf="selectedGroupId"
          [selectedGroupId]="selectedGroupId">
        </app-request-membership>
        </div>
      </div>
      <app-key-figures
        *ngIf="group"
        [keyFigureList]="[
          {
            name: 'Mitglieder',
            number: group.member_counter
          },
          {
            name: 'Anräge',
            number: group.amendment_counter
          },
          {
            name: 'Follower',
            number: group.follower_counter
          },
          {
            name: 'Veranstaltungen',
            number: group.events_counter
          }
        ]">
      </app-key-figures>
      <div class="mb-30">
        <app-about-and-contact
          *ngIf="group"
          [contactData]="{
            about: group.description,
            contact_email: group.contact_email,
            contact_phone: group.contact_phone,
            street: group.street,
            post_code: group.post_code,
            city: group.city
          }">
        </app-about-and-contact>
      </div>
    </div>
  </div>
  <div slot="side">
    <app-menu-bar-secondary-right
      [menuItemsSpecial]="menuItemsSpecial"
      [menuItemsStandart]="menuItemsStandart"
      [specialOrStandart]="groupUI.isAdmin">
    </app-menu-bar-secondary-right>
  </div>
</app-wrapper-grid>
