<app-menu-bar-secondary-top [menuItems]="menuItemsMega"></app-menu-bar-secondary-top>
<!-- <p-toast styleClass="max-w-90"	 position="top-right">></p-toast> -->
<app-wrapper-grid>
  <div slot="main">
    <div class="mb-8">

      <app-wiki-header [wikiHeader]="wikiHeader"></app-wiki-header>
      <h1>Test</h1>
      <h1 *ngIf="$group | async as group">{{group.description}} Test</h1>
      <div class="flex flex-column">
        <div class="flex align-items-center justify-content-center">
          <button
          pButton
          type="button"
          label="{{isAlreadyFollower ? 'Unfollow' : 'Follow'}}"
          (click)="followOrUnfollowGroup()"
        >
        </button>
        <app-request-membership *ngIf="selectedGroupId" [selectedGroupId]="selectedGroupId"></app-request-membership>
        </div>
      </div>
      <app-key-figures [keyFigureList]="keyFigureList"></app-key-figures>
      <div class="mb-30">
        <app-about-and-contact [contactData]="contactData"></app-about-and-contact>
      </div>
    </div>
  </div>
  <div slot="side">
    <app-menu-bar-secondary-right [menuItems]="menuItems"></app-menu-bar-secondary-right>
  </div>
</app-wrapper-grid>
