<p-tabView>
  <p-tabPanel header={{titleFirstTab}}>
    <p-table
    [value]="dataFirstTab"
    #followerTable
    [globalFilterFields]="['username']"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-end">
          <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                    class="w-full"
                    pInputText
                    type="text"
                    [(ngModel)]="filterString"
                    (input)="followerTable.filterGlobal(filterString, 'contains')"
                    placeholder="Search keyword" />
                </span>
        </div>
      </ng-template>
      <ng-template pTemplate="body" let-dataFirstTab>
        <tr>
          <td>
            <p-avatar size="xlarge" shape="circle" styleClass="border-round" image={{dataFirstTab.avatarUrl}}></p-avatar>
          </td>
          <td *ngIf="dataFirstTab.username">
            {{dataFirstTab.username}}
          </td>
          <td *ngIf="dataFirstTab.name">
            {{dataFirstTab.name}}
          </td>
          <td>
            <button
            *ngIf="acceptButtonNeededFirstTab"
              pButton
              pRipple
              type="button"
              icon="pi pi-check"
              class="p-button-rounded p-button-text p-button-success"
              (click)="acceptFromFirstTab(dataFirstTab.id)"
              ></button>
          </td>
          <td>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-times"
              class="p-button-rounded p-button-text p-button-danger"
              (click)="removeFromFirstDataTab(dataFirstTab.id)"
              ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">{{noDataFirstTab}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
  <p-tabPanel *ngIf="secondTabNeeded" header={{titleSecondTab}}>
    <p-table
    [value]="dataSecondTab"
    #followingTable
    [globalFilterFields]="['username']"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-end">
          <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                    class="w-full"
                    pInputText
                    type="text"
                    [(ngModel)]="filterString"
                    (input)="followingTable.filterGlobal(filterString, 'contains')"
                    placeholder="Search keyword" />
                </span>
        </div>
      </ng-template>
      <ng-template pTemplate="body" let-dataSecondTab>
        <tr>
          <td>
            <p-avatar size="xlarge" shape="circle" styleClass="border-round" image={{dataSecondTab.avatarUrl}}></p-avatar>
          </td>
          <td *ngIf="dataSecondTab.username">
            {{dataSecondTab.username}}
          </td>
          <td *ngIf="dataSecondTab.name">
            {{dataSecondTab.name}}
          </td>
          <td>
            <button
            *ngIf="acceptButtonNeededSecondTab"
              pButton
              pRipple
              type="button"
              icon="pi pi-check"
              class="p-button-rounded p-button-text p-button-success"
              (click)="acceptFromSecondTab(dataSecondTab.id)"
              ></button>
          </td>
          <td>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-times"
              class="p-button-rounded p-button-text p-button-danger"
              (click)="removeFromSecondDataTab(dataSecondTab.id)"
              ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">{{noDataFirstTab}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
</p-tabView>
