/* Polity Theme Variables */
// $panelContentBg: ;
$home-background: black;

/* Surface */
$surface:#191C1E;
$onSurface: #FBFCFF;

$surfaceVariant: black;
$onSurfaceVariant: #FBFCFE;

/* Background */
$background: black;

$onLightBackground: #191C1E
