<div routerLink="/profile/{{profile.id}}" class="cursor-pointer horizontalGradient border-round">
  <div class="p-3 flex flex-column">
    <p-avatar class="border-round flex align-items-center justify-content-center" size="xlarge" shape="circle" styleClass="border-round"  image={{profile.avatarUrl}}></p-avatar>
    <h5 class="mb-0 flex align-items-center text-center justify-content-center">{{profile.username}}</h5>
    <p class="mt-0 flex align-items-center justify-content-center accent-corlor	">{{profile.website}}</p>
  </div>
</div>
