
<p-toast styleClass="max-w-90"	 position="top-right">></p-toast>
<app-menu-bar-secondary-top
  [specialOrStandart]="false"
  [megaMenuItemStandart]="menuItemsMega">
</app-menu-bar-secondary-top>
<app-wrapper-grid>
  <div slot="main">
    <div class="mb-8">
      <form (submit)="onSearch(searchBar.value)">
        <div class="grid">
          <div class="col-12">
            <span class="p-float-label">
              <input
                #searchBar
                class="w-full p-inputtext"
                id="float-input"
                type="text"
                pInputText
                [value]=" ''"
                >
              <label for="float-input">Search</label>
            </span>
          </div>
        </div>
      </form>
      <div class="w-full text-center">
        <p-chip *ngIf="taskFilterOn" (click)="setTaskFilter()"  label="TASKS" styleClass="mr-1 mb-1 cursor-pointer accent-container"></p-chip>
        <p-chip *ngIf="!taskFilterOn" (click)="setTaskFilter()"  label="TASKS" styleClass="mr-1 mb-1 cursor-pointer"></p-chip>

        <p-chip *ngIf="groupFilterOn" (click)="setGroupFilter()" label="GROUP" styleClass="mr-1 mb-1 cursor-pointer accent-container"></p-chip>
        <p-chip *ngIf="!groupFilterOn" (click)="setGroupFilter()" label="GROUP" styleClass="mr-1 mb-1 cursor-pointer"></p-chip>

        <p-chip *ngIf="amendmentFilterOn" (click)="setAmendmentFilter()" label="AMENDMENTS" styleClass="mr-1 mb-1 cursor-pointer accent-container"></p-chip>
        <p-chip *ngIf="!amendmentFilterOn" (click)="setAmendmentFilter()" label="AMENDMENTS" styleClass="mr-1 mb-1 cursor-pointer"></p-chip>

        <p-chip *ngIf="eventFilterOn" (click)="setEventFilter()" label="EVENT" styleClass="mr-1 mb-1 cursor-pointer accent-container"></p-chip>
        <p-chip *ngIf="!eventFilterOn" (click)="setEventFilter()" label="EVENT" styleClass="mr-1 mb-1 cursor-pointer"></p-chip>

        <p-chip *ngIf="accountFilterOn" (click)="setAccountFilter()" label="ACCOUNT" styleClass="mr-1 mb-1  cursor-pointer accent-container"></p-chip>
        <p-chip *ngIf="!accountFilterOn" (click)="setAccountFilter()" label="ACCOUNT" styleClass="mr-1 mb-1 cursor-pointer"></p-chip>
      </div>
      <app-loading-spinner
        [error]="error"
        [loading]="loadingInitial"
        [errorMessage]="errorMessage"
        (retryAction)="loadInitialData()"
        >
      </app-loading-spinner>
      <div *ngIf="!loadingInitial && !error">
        <div
        infiniteScroll
        [infiniteScrollDistance]="1"
        [infiniteScrollUpDistance]="1.5"
        [infiniteScrollThrottle]="50"
        (scrolled)="loadNewData()"
        *ngFor="let news of newsList.slice(paginationData.from, paginationData.to)">
        <app-news-list-item [news]="news"></app-news-list-item>
      </div>
      </div>
    </div>
  </div>
  <div slot="side">
    <app-menu-bar-secondary-right
      [specialOrStandart]="false"
      [menuItemsStandart]="menuItems">
    </app-menu-bar-secondary-right>
  </div>
</app-wrapper-grid>
