app-menu-bar-left {
  display: none;
}

@media only screen and (min-width: 1024px) {
  app-menu-bar-bottom {
    display: none;
  }

  app-menu-bar-secondary-top {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  app-menu-bar-left {
    display: block;
  }

  app-menu-bar-secondary-left {
    display: block;
  }
}
