<app-wrapper-grid>
  <div slot="main">
    <div class="mb-8">
      <div class="mx-4">
        <div class="flex flex-row">
          <i class="pi pi-angle-down align-items-center flex justify-content-center mr-4"></i>
          <h4 class="flex align-items-center justify-content-center">INHALTE</h4>
        </div>
        <a routerLink="/profile-edit/profile">
          <p-messages  severity="custom">
            <ng-template pTemplate>
                <div class="ml-2">Profil</div>
            </ng-template>
        </p-messages>
        </a>

        <div class="flex flex-row">
          <i class="pi pi-angle-down align-items-center flex justify-content-center mr-4"></i>
          <h4 class="flex align-items-center justify-content-center">GEFAHRENZONE</h4>
        </div>
        <a (click)="signOut()">
          <p-messages  severity="custom">
            <ng-template pTemplate>
                <div class="ml-2">Logout</div>
            </ng-template>
        </p-messages>
        </a>
      </div>
    </div>
  </div>
  <div slot="side">
    <app-menu-bar-secondary-right></app-menu-bar-secondary-right>
  </div>
</app-wrapper-grid>
