<app-menu-bar-secondary-top [menuItems]="menuItemsMega"></app-menu-bar-secondary-top>

<app-wrapper-grid>
  <div slot="main">
    <div class="mb-8">
      <div class="mx-4">
        <app-headline-of-list [headline]="'INHALTE'"></app-headline-of-list>
        <app-list-element [title]="'Profil'" [link]="'/profile/edit/profile'"></app-list-element>
        <app-list-element [title]="'Follower-Management'" [link]="'/profile/edit/follower'"></app-list-element>
        <app-list-element [title]="'Gruppen-Management'" [link]="'/profile/edit/groups'"></app-list-element>

        <app-headline-of-list [headline]="'INHALTE'"></app-headline-of-list>
        <a class="cursor-pointer" (click)="signOut()">
          <p-messages  severity="custom">
            <ng-template pTemplate>
                <div class="ml-2">Logout</div>
            </ng-template>
        </p-messages>
        </a>
      </div>
    </div>
  </div>
  <div slot="side">
    <app-menu-bar-secondary-right [menuItems]="menuItems"></app-menu-bar-secondary-right>
  </div>
</app-wrapper-grid>
