<p-tabView>
  <p-tabPanel
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollUpDistance]="1.5"
    [infiniteScrollThrottle]="50"
    (scrolled)="loadNewDataFirstTab()"
    header={{titleFirstTab}}>
    <p-table
    [value]="dataFirstTabDisplayed"
    #followerTable
    [globalFilterFields]="['name']"
    data-cy="first-table"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-end">
          <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                    class="w-full"
                    pInputText
                    type="text"
                    [(ngModel)]="filterString"
                    name="filterString"
                    (input)="followerTable.filterGlobal(filterString, 'contains')"
                    data-cy="filterFirstTab"
                    placeholder="Search keyword" />
                </span>
        </div>
      </ng-template>
      <ng-template pTemplate="body" let-dataFirstTabDisplayed>
        <tr>
          <td>
            <p-avatar size="xlarge" shape="circle" styleClass="border-round" image={{dataFirstTabDisplayed.avatar_url}}></p-avatar>
          </td>
          <td *ngIf="dataFirstTabDisplayed.name">
            {{dataFirstTabDisplayed.name}}
          </td>
          <td>
            <button
              data-cy="acceptFromFirstTab"
              *ngIf="acceptButtonNeededFirstTab"
              pButton
              pRipple
              type="button"
              icon="pi pi-check"
              class="p-button-rounded p-button-text p-button-success"
              (click)="acceptFromFirstTab(dataFirstTabDisplayed.id, dataFirstTabDisplayed.user_id)"
              ></button>
          </td>
          <td data-cy="action-column">
            <button
              data-cy="removeFromFirstTab"
              pButton
              pRipple
              type="button"
              icon="pi pi-times"
              class="p-button-rounded p-button-text p-button-danger"
              (click)="removeFromFirstDataTab(dataFirstTabDisplayed.id, dataFirstTabDisplayed.user_id, dataFirstTabDisplayed.isGroup)"
              ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">{{noDataFirstTab}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
  <p-tabPanel
    *ngIf="secondTabNeeded"
    header={{titleSecondTab}}
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollUpDistance]="1.5"
    [infiniteScrollThrottle]="50"
    (scrolled)="loadNewDataSecondTab()"
    >
    <p-table
    [value]="dataSecondTabDisplayed"
    #followingTable
    [globalFilterFields]="['name']"
    data-cy="second-table"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-end">
          <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                    class="w-full"
                    pInputText
                    type="text"
                    [(ngModel)]="filterString"
                    name="filterString"
                    (input)="followingTable.filterGlobal(filterString, 'contains')"
                    data-cy="filterSecondTab"
                    placeholder="Search keyword" />
                </span>
        </div>
      </ng-template>
      <ng-template pTemplate="body" let-dataSecondTabDisplayed>
        <tr>
          <td>
            <p-avatar size="xlarge" shape="circle" styleClass="border-round" image={{dataSecondTabDisplayed.avatar_url}}></p-avatar>
          </td>
          <td *ngIf="dataSecondTabDisplayed.name">
            {{dataSecondTabDisplayed.name}}
          </td>
          <td>
            <button
            *ngIf="acceptButtonNeededSecondTab"
              pButton
              pRipple
              type="button"
              icon="pi pi-check"
              class="p-button-rounded p-button-text p-button-success"
              (click)="acceptFromSecondTab(dataSecondTabDisplayed.user_id)"
              data-cy="acceptFromSecondTab"
              ></button>
          </td>
          <td data-cy="action-column">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-times"
              class="p-button-rounded p-button-text p-button-danger"
              (click)="removeFromSecondDataTab(dataSecondTabDisplayed.id, dataSecondTabDisplayed.user_id, dataSecondTabDisplayed.isGroup)"
              data-cy="removeFromSecondTab"
              ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">{{noDataFirstTab}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
</p-tabView>
