/* Customizations to the designer theme should be defined here */

/* Generall layout settings*/
html {
  font-family: 'Inter';
  font-size: 16px;
}

body {
  margin: 0px;
  background-color: $background;
}


/* custom display helpers */
.full-screen {
  height: 100vh;
  width: 100%;
}

/*background helpers */
.horizontalGradient {
  background-image: $horizontalGradient;
}

.verticalGradient {
  background-image: $verticalGradient;
}

.transparent-background {
  background-color: transparent!important;
}

.accent-container {
  background-color: $accentContainer;
}

.accent-corlor {
  color: $accentColor;
}

/* validate input styling */
.p-input-filled .p-inputtext.ng-valid.ng-dirty {
  border-color: transparent;
  background-image: linear-gradient(to bottom, $successColor, $successColor), linear-gradient(to bottom, $successColor, $successColor);
}

.p-float-label > .ng-valid.ng-dirty + label {
  color: $successColor;
}

.success-color {
  color: $successColor!important;
}

.hide {
  display: none!important;
}

/* others */
mark {
  background-color: transparent!important;
  color: $accentColor;
}

.curser-pointer {
  cursor: pointer;
}

.mt-9 {
  margin-top: 6rem;
}

.mt-10 {
  margin-top: 7rem;
}
/* Component css edit::after */
.p-sidebar {
  background: $navigation!important;
}

.p-sidebar-header {
  display: none!important;
}

.p-sidebar .p-sidebar-content {
  padding: 0rem!important;
}

.p-tabview-nav {
  justify-content: center;
}

.p-menu {
  padding: 0.5rem 0;
  background: transparent;
  color: none;
  border: none;
  border-radius: 4px;
  width: 100%;
}

.p-message.p-message-custom {
  background: $horizontalGradient;
  border: solid transparent;
  border-width: 0 0 0 0;
}

.p-menuitem-link-active {
  background-color: $accentContainer!important;
  border-radius: 1rem!important;
}

.p-menu .p-menuitem-link:not(.p-disabled):hover {
  background: rgba(0, 0, 0, 0.04);
  border-radius: 1rem!important;
}
.p-menu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: rgba(0, 0, 0, 0.87);
  border-radius: 1rem!important;
}
.p-menu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon {
  color: rgba(0, 0, 0, 0.6);
  border-radius: 1rem!important;
}
.p-menu .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
  color: rgba(0, 0, 0, 0.6);
}
.p-menu .p-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}

.p-megamenu {
  border: none!important;
  padding: 0.5rem;
}

.p-card {
  background-color: $surface;
}

.p-panel-header {
  background-color: $surface;
}

@media only screen and (max-width: 425px) {
  .max-w-90 {
    max-width: 90%;
  }
}

/*.p-tabview .p-tabview-panels, .p-tabview .p-tabview-nav {
  background-color: red!important;
}*/
