<p-toast styleClass="max-w-90"	 position="top-right"></p-toast>
<app-wrapper-grid [noTopBar]="true">
  <div slot="main">
    <div class="mb-8">
      <div class="mx-4">
        <app-back-button data-cy="backButton" [title]="'Zurück'" [link]="link"></app-back-button>
        <div class="mb-30">
          <app-tab-view-table-lists
          [dataFirstTab]="membershipRequests"
          [titleFirstTab]="titleMembershipRequests"
          [noDataFirstTab]="noDataMembershiprequests"
          [secondTabNeeded]="true"
          [acceptButtonNeededFirstTab]="true"
          (removeItemFromFirstTab)="cancelMembershipRequest($event)"
          (acceptItemFromFirstTab)="acceptMembershipRequest($event)"

          [dataSecondTab]="members"
          [titleSecondTab]="titleMembers"
          [noDataSecondTab]="noDataMembers"
          (removeItemFromSecontTab)="removeMember($event)"
          ></app-tab-view-table-lists>
        </div>
      </div>
    </div>
  </div>
</app-wrapper-grid>

