<app-menu-bar-secondary-top [menuItems]="menuItemsMega"></app-menu-bar-secondary-top>
<p-toast styleClass="max-w-90"	 position="top-right">></p-toast>
  <app-wrapper-grid>
    <div slot="main">
      <div class="mb-8">
        <app-wiki-header [wikiHeader]="wikiHeader"></app-wiki-header>
        <div class="flex flex-column">
          <div class="flex align-items-center justify-content-center">
            <button *ngIf="supabase.user?.id !== profile?.id"
            pButton
            type="button"
            label="{{isAlreadyFollower ? 'Unfollow' : 'Follow'}}"
            (click)="followOrUnfollowProfile()"
          >
          </button>
          </div>
        </div>
        <app-key-figures [keyFigureList]="keyFigureList"></app-key-figures>

        <div class="mb-30">
          <p-tabView>
            <p-tabPanel header="Über">
              {{profile?.about}}
            </p-tabPanel>
            <p-tabPanel header="Kontakt">
              <span class="block my-3">
                <p class="font-medium inline">Email: </p>
                <p class="inline">{{profile?.contactEmail}}</p>
              </span>
              <span  class="block my-3">
                <p class="font-medium inline">Phone: </p>
                <p class="inline">{{profile?.contactPhone}}</p>
              </span>
              <span class="block my-3">
                <p class="font-medium inline">Adresse: </p>
                <p class="inline">{{profile?.street}}, {{profile?.postCode}}, {{profile?.city}}</p>
              </span>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>
    <div slot="side">
      <app-menu-bar-secondary-right *ngIf="supabase.user?.id === profile?.id"[menuItems]="menuItems"></app-menu-bar-secondary-right>
    </div>
</app-wrapper-grid>
