  <app-wrapper-grid>
    <div slot="main">
      <div class="mb-8">
        <div class="text-center">
          <h2 *ngIf="profile" class="m-2">{{profile.username}}</h2>
          <h5 class="text-primary m-0">Rosbach | Wetteraus - Hessen</h5>
          <img class="my-4" src={{profile?.avatarUrl}}>
        </div>

        <div class="flex flex-column">
          <div class="flex align-items-center justify-content-center">
            <button *ngIf="supabase.user?.id !== profile?.id"
            pButton
            type="button"
            label="{{isAlreadyFollower ? 'Unfollow' : 'Follow'}}"
            (click)="followOrUnfollowProfile()"
          >
          </button>
          </div>
        </div>

        <div class="flex justify-content-around">
          <div class="text-center">
            <h5>12</h5>
            <p>Anträge</p>
          </div>
          <div class="text-center">
            <h5>154</h5>
            <p>Follower</p>
          </div>
          <div class="text-center">
            <h5>65</h5>
            <p>Following</p>
          </div>
          <div class="text-center">
            <h5>18</h5>
            <p>Netz</p>
          </div>
          <!-- <div class="text-center">
            <h5>73</h5>
            <p>Reputation</p>
          </div> -->
        </div>

        <div class="mb-30">
          <p-tabView>
            <p-tabPanel header="Über">
              {{profile?.about}}
            </p-tabPanel>
            <p-tabPanel header="Kontakt">
              <span class="block my-3">
                <p class="font-medium inline">Email: </p>
                <p class="inline">{{profile?.contactEmail}}</p>
              </span>
              <span  class="block my-3">
                <p class="font-medium inline">Phone: </p>
                <p class="inline">{{profile?.contactPhone}}</p>
              </span>
              <span class="block my-3">
                <p class="font-medium inline">Adresse: </p>
                <p class="inline">{{profile?.street}}, {{profile?.postCode}}, {{profile?.city}}</p>
              </span>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>
    <div slot="side">
      <app-menu-bar-secondary-right *ngIf="supabase.user?.id === profile?.id"></app-menu-bar-secondary-right>
    </div>

  </app-wrapper-grid>
