<p-toast styleClass="max-w-90"	 position="top-right">></p-toast>
<app-menu-bar-secondary-top
  [megaMenuItemSpecial]="menuItemsMegaSpecial"
  [megaMenuItemStandart]="menuItemsMegaStandart"
  [specialOrStandart]="profileUI.isOwner">
</app-menu-bar-secondary-top>
  <app-wrapper-grid [noTopBar]="false">
    <div slot="main">
      <app-loading-spinner
        [error]="error"
        [loading]="loading"
        [errorMessage]="errorMessage"
        (retryAction)="loadInitialData()"
      >
      </app-loading-spinner>
      <div *ngIf="!loading && !error" class="mb-8" >
        <app-wiki-header
          *ngIf="profile"
          [wikiHeader]="{
            title: profile.name,
            subtitle: 'TODO',
            imgUrl: profile.avatar_url
          }">
        </app-wiki-header>
        <div class="flex flex-column">
          <div
          *ngIf="!profileUI.isOwner" class="flex align-items-center justify-content-center">
            <button
              pButton
              type="button"
              label="{{profileUI.isFollowing ? 'Unfollow' : 'Follow'}}"
              (click)="followOrUnfollowProfile()"
              data-cy="followButton"
              [disabled]="loading"
            >
            </button>
          </div>
        </div>
        <app-key-figures
        *ngIf="profile"
        [keyFigureList]="[
          {
            name: 'Anträge',
            number: profile.amendment_counter
          },
          {
            name: 'Follower',
            number: profile.follower_counter
          },
          {
            name: 'Following',
            number: profile.following_counter
          },
          {
            name: 'Gruppen',
            number: profile.groups_counter
          }
        ]">
        </app-key-figures>

        <div class="mb-30">
          <app-about-and-contact
            *ngIf="profile"
            [contactData]="{
              about: profile.about,
              contact_email: profile.contact_email,
              contact_phone: profile.contact_phone,
              street: profile.street,
              post_code: profile.post_code,
              city: profile.city
            }">
          </app-about-and-contact>
        </div>
        <div>
      </div>
    </div>
  </div>
  <div slot="side">
    <app-menu-bar-secondary-right
    [menuItemsSpecial]="menuItemsSpecial"
    [menuItemsStandart]="menuItemsStandart"
    [specialOrStandart]="profileUI.isOwner">
    </app-menu-bar-secondary-right>
  </div>
</app-wrapper-grid>
