<p-toast styleClass="max-w-90"	 position="top-right">></p-toast>
<app-wrapper-grid [noTopBar]="true">
  <div slot="main">
    <div class="mb-8">
      <div class="mx-4">
        <app-back-button data-cy="backButton" [title]="'Zurück'" [link]="'/profile/edit'"></app-back-button>
        <div class="mt-4" *ngIf="profile">
          <h5>Persönliche Daten</h5>
          <p *ngIf="profile">{{profile.name}}</p>

          <div class="grid">
            <div class="col-12 md:col-6">
              <span class="p-float-label">
                <input
                  class="w-full"
                  type="text"
                  pInputText
                  name="name"
                  [(ngModel)]="profile.name"
                  data-cy="name"
                >
                <label for="float-input">Name</label>
              </span>
            </div>
            <div class="col-12 md:col-6">
              <span class="p-float-label">
                <input
                  class="w-full"
                  type="url"
                  pInputText
                  name="website"
                  [(ngModel)]="profile.website"
                  data-cy="website"
                >
                <label for="float-input">Website</label>
              </span>
            </div>
            <div class="col-12">
              <span class="p-float-label">
              <textarea
                #about
                pInputTextarea
                [autoResize]="true"
                class="w-full"
                name="about"
                [(ngModel)]="profile.about"
                data-cy="about"
              ></textarea>
              <label for="float-input">Über mich</label>
            </span>
            </div>
          </div>
          <div>
            <h5>Profile Foto</h5>
            <p-avatar *ngIf="profile.avatar_url" [image]="profile.avatar_url"></p-avatar>
            <p-fileUpload
              #fileUploader
              (uploadHandler)="updateProfilePhoto($event, fileUploader)"
              name="myfile[]"
              accept="image/*"
              [auto]="true"
              [customUpload]="true"
              class="full-w"
              data-cy="imageUpload"
            >
            </p-fileUpload>

          </div>
          <!-- <div class="flex flex-column">
            <div class="flex align-items-center justify-content-center">
              <button
              pButton
              type="button"
              label="{{loading ? 'Loading ...' : 'Update'}}"
              (click)="updateProfile(name.value, website.value)"
              [disabled]="loading"
            >
            </button>
            </div>
          </div> -->
          <h5>Kontaktmöglichkeiten</h5>
          <div class="grid">
            <div class="col-12 md:col-6">
              <span class="p-float-label">
                <input
                  class="w-full"
                  type="email"
                  pInputText
                  name="contact_email"
                  [(ngModel)]="profile.contact_email"
                  data-cy="contactEmail"
                >
                <label for="float-input">Email</label>
              </span>
            </div>
            <div class="col-12 md:col-6">
              <span class="p-float-label">
                <input
                  class="w-full"
                  type="text"
                  pInputText
                  name="contact_phone"
                  [(ngModel)]="profile.contact_phone"
                  data-cy="contactPhone"
                  >
                <label for="float-input">Phone</label>
              </span>
            </div>
          </div>
          <h5>Adresse</h5>
          <div class="grid">
            <div class="col-12 md:col-6">
              <span class="p-float-label">
                <input
                  class="w-full"
                  type="text"
                  pInputText
                  name="street"
                  [(ngModel)]="profile.street"
                  data-cy="street"
                  >
                <label for="float-input">Street</label>
              </span>
            </div>
            <div class="col-12 md:col-6">
              <span class="p-float-label">
                <input
                  class="w-full"
                  type="text"
                  pInputText
                  name="post_code"
                  [(ngModel)]="profile.post_code"
                  data-cy="postCode"
                >
                <label for="float-input">Post Code</label>
              </span>
            </div>
            <div class="col-12 md:col-6">
              <span class="p-float-label">
                <input
                  class="w-full"
                  type="text"
                  pInputText
                  name="city"
                  [(ngModel)]="profile.city"
                  data-cy="city"
                >
                <label for="float-input">City</label>
              </span>
            </div>
          </div>
          <div class="flex flex-column">
            <div class="flex align-items-center justify-content-center">
              <button
              pButton
              type="button"
              label="{{loading ? 'Loading ...' : 'Update'}}"
              (click)="updateContactInformation(profile)"
              [disabled]="loading"
              data-cy="updateProfileInformationButton"
            >
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div slot="side">
  </div>
</app-wrapper-grid>
