<app-wrapper-grid>
  <div slot="main">
    <p-toast></p-toast>
    <div class="mb-8">
      <div class="mx-4">
        <div >
          <a routerLink="/profile-edit" class="flex flex-row">
            <i class="pi pi-arrow-left align-items-center flex justify-content-center mr-4"></i>
            <h4 class="flex align-items-center justify-content-center">Zurück</h4>
          </a>
        </div>
        <div class="mt-4" *ngIf="profile">
          <h5>Persönliche Daten</h5>
          <div class="grid">
            <div class="col-12 md:col-6">
              <span class="p-float-label">
                <input
                  class="w-full"
                  type="text"
                  pInputText
                  [(ngModel)]="profile.username"
                >
                <label for="float-input">Name</label>
              </span>
            </div>
            <div class="col-12 md:col-6">
              <span class="p-float-label">
                <input
                  class="w-full"
                  type="url"
                  pInputText
                  [(ngModel)]="profile.website"
                >
                <label for="float-input">Website</label>
              </span>
            </div>
            <div class="col-12">
              <span class="p-float-label">
              <textarea
                #about
                pInputTextarea
                [autoResize]="true"
                class="w-full"
                [(ngModel)]="profile.about"
              ></textarea>
              <label for="float-input">Über mich</label>
            </span>
            </div>
          </div>
          <div>
            <h5>Profile Foto</h5>
            <p-avatar *ngIf="profile.avatarUrl" [image]="profile.avatarUrl"></p-avatar>
            <p-fileUpload
              #fileUploader
              (uploadHandler)="updateProfilePhoto($event, fileUploader)"
              name="myfile[]"
              accept="image/*"
              [auto]="true"
              [customUpload]="true"
              class="full-w"
            >
            </p-fileUpload>

          </div>
          <!-- <div class="flex flex-column">
            <div class="flex align-items-center justify-content-center">
              <button
              pButton
              type="button"
              label="{{loading ? 'Loading ...' : 'Update'}}"
              (click)="updateProfile(userName.value, website.value)"
              [disabled]="loading"
            >
            </button>
            </div>
          </div> -->
          <h5>Kontaktmöglichkeiten</h5>
          <div class="grid">
            <div class="col-12 md:col-6">
              <span class="p-float-label">
                <input
                  class="w-full"
                  type="email"
                  pInputText
                  [(ngModel)]="profile.contactEmail"
                >
                <label for="float-input">Email</label>
              </span>
            </div>
            <div class="col-12 md:col-6">
              <span class="p-float-label">
                <input
                  class="w-full"
                  type="text"
                  pInputText
                  [(ngModel)]="profile.contactPhone"
                  >
                <label for="float-input">Phone</label>
              </span>
            </div>
          </div>
          <h5>Adresse</h5>
          <div class="grid">
            <div class="col-12 md:col-6">
              <span class="p-float-label">
                <input
                  class="w-full"
                  type="text"
                  pInputText
                  [(ngModel)]="profile.street"
                  >
                <label for="float-input">Street</label>
              </span>
            </div>
            <div class="col-12 md:col-6">
              <span class="p-float-label">
                <input
                  class="w-full"
                  type="text"
                  pInputText
                  [(ngModel)]="profile.postCode"
                >
                <label for="float-input">Post Code</label>
              </span>
            </div>
            <div class="col-12 md:col-6">
              <span class="p-float-label">
                <input
                  class="w-full"
                  type="text"
                  pInputText
                  [(ngModel)]="profile.city"
                >
                <label for="float-input">City</label>
              </span>
            </div>
          </div>
          <div class="flex flex-column">
            <div class="flex align-items-center justify-content-center">
              <button
              pButton
              type="button"
              label="{{loading ? 'Loading ...' : 'Update'}}"
              (click)="updateContactInformation(profile)"
              [disabled]="loading"
            >
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div slot="side">
    <app-menu-bar-secondary-right></app-menu-bar-secondary-right>
  </div>
</app-wrapper-grid>
