<p-toast styleClass="max-w-90"	 position="top-right"></p-toast>
<app-wrapper-grid [noTopBar]="true">
  <div slot="main">
    <app-loading-spinner
    [error]="error"
    [loading]="loadingInitial"
    [errorMessage]="errorMessage"
    (retryAction)="loadInitialData()"
  >
  </app-loading-spinner>
    <div *ngIf="!loadingInitial && !error" class="mb-8" >
      <div class="mx-4">
        <app-back-button data-cy="backButton" [title]="'Zurück'" [link]="link"></app-back-button>
        <div *ngIf="groupsOfUser" class="mb-30">
          <app-tab-view-table-lists
          [dataFirstTab]="groupsOfUser"
          [titleFirstTab]="titleYourGroups"
          [noDataFirstTab]="noGroups"
          [secondTabNeeded]="false"
          [acceptButtonNeededFirstTab]="false"
          (removeItemFromFirstTab)="leaveGroup($event)"

          ></app-tab-view-table-lists>
        </div>
      </div>
    </div>
  </div>
</app-wrapper-grid>
